$site-primary-color: #0F4698;
$site-secondary-color: #EEF6FD;

// Statuses
$status-research-primary-color: #6BBEAF;
$status-research-secondary-color: #B5DED7;

$status-development-primary-color: #8F81C7;
$status-development-secondary-color: #AFA3DA;

$status-pilot-primary-color: #E4A57C;
$status-pilot-secondary-color: #F1CDB2;

$status-launched-primary-color: #4E87D3;
$status-launched-secondary-color: #67A8EF;

$status-cancelled-primary-color: #D53E45;
$status-cancelled-secondary-color: #EC8596;

$status-none-primary-color: #DBE6F1;
$status-none-secondary-color: #F4F8FC;

// Timeline
$timeline-status-header-background-color: #E7E4F4;
$timeline-status-main-background-color: #F3F1F9;
$timeline-status-text-color: #8F81C7;

$timeline-updated-header-background-color: #D1E5FA;
$timeline-updated-main-background-color: #E8F2FD;
$timeline-updated-text-color: #4E87D3;

$timeline-added-header-background-color: #E9F5F3;
$timeline-added-main-background-color: #F4FAF9;
$timeline-added-text-color: #6BBEAF;

$timeline-deleted-header-background-color: #F9DAE0;
$timeline-deleted-main-background-color: #FCEDEF;
$timeline-deleted-text-color: #D53E45;
